@font-face {
  font-family: "playfairdisplay";
  src: url(Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}
body {
  font-family: "playfairdisplay";
}
nav ul {
  list-style: none;
  display: flex;
  gap: 1 rem;
  margin: 0;
  padding: 0;
}
nav a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 20px;
  color: white;
}
nav {
  width: 100%;
  height: 60px;
  background-color: #8b0000;
  align-items: center;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}
.logo {
  height: 50px;
  border-radius: 50%;
  margin-right: 70px;
}
.lacarte {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  border-radius: 20px;
  color: white;
  border-bottom: 3px solid transparent;
}
.dropdown:hover .lacarte {
  display: block;
}
.entre {
  border-bottom: 3px;
  color: red;
}
.plats {
  border-bottom: 3px;
  color: red;
}
.dessert {
  border-bottom: 3px solid red;
  color: red;
}
.icone {
  height: 50px;
  border-radius: 50%;
}
.section1 {
  background: url(image/Capture_decran_2026-02-11_162401.webp);
}
