.tile {
    width: 150px;
    height: 150px;
    border: 1px solid white;
    box-sizing: border-box;
    background-size: 300px 300px;
    cursor: pointer;
}

#puzzle-board {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(2, 150px);
}

.selected {
    outline: 3px solid blue;
}

.veri {
    background-color: #F57B7B;
    border-color: #F57B7B;
    color: rgb(0, 0, 0);
}

.veri:hover {
    background-color: #F57B7B;
    border-color: #F57B7B;
    cursor: pointer;
}

.Boite {
    width: 500px;
    min-height: 450px;
    background: white;
    border-radius: 28px;
    box-shadow: 0px 20px 60px 0px rgba(0, 0, 0, 0.08);
    padding: 20px;
}

body {
    background-image: url("Image/image_13.webp");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}